.action-button {
    margin-top: 50px;
    padding: 10px; /* Adds spacing around each button */
}

.actions-container{
    margin-top: 50px;
}

.square-button {
    width: 100%; /* Ensures the button width is as wide as its container */
    border-radius: 10px; /* Optional: Adds rounded corners to the buttons */
    font-size: 1.5rem; /* Adjusts the font size inside the button */
    display: inline-block;
    margin: 0 auto; /* Centers the button text */
}

/* Ensure the buttons don't become too large on bigger screens */
@media (min-width: 992px) {
    .square-button {
        padding: 50px 0; /* Adjusts padding for larger screens to maintain square shape */
    }
}

/* Adjust grid layout for smaller screens */
@media (max-width: 576px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.student-info {
    cursor: pointer;
    margin-bottom: 10px;
}

.student-name {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}

.student-name:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

.student-details {
    display: none;
    padding: 10px;
    background-color: #f8f9fa; /* Light background for the details */
    border: 1px solid #ddd; /* Light border */
    border-radius: 5px;
    text-align: center;
}