.action-button {
    margin-top: 50px;
    padding: 10px; /* Adds spacing around each button */
}

.actions-container{
    margin-top: 50px;
}

#student-div{
    background-color: rgb(214, 214, 214);
}

.square-button {
    width: 100%; /* Ensures the button width is as wide as its container */
    border-radius: 10px; /* Optional: Adds rounded corners to the buttons */
    font-size: 1.5rem; /* Adjusts the font size inside the button */
    display: inline-block;
    margin: 0 auto; /* Centers the button text */
}

/* Ensure the buttons don't become too large on bigger screens */
@media (min-width: 992px) {
    .square-button {
        padding: 50px 0; /* Adjusts padding for larger screens to maintain square shape */
    }
}

/* Adjust grid layout for smaller screens */
@media (max-width: 576px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.student-name {
    border: 2px solid #000; /* Black border */
    margin: 10px 0; /* Adds space above and below each name */
    padding: 20px; /* Adds space inside the border */
    font-size: 24px; /* Larger text */
    background-color: #f8f9fa; /* Light background color */
    cursor: pointer; /* Changes cursor to pointer on hover */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensures padding does not affect the total width */
}

/* Add styles for hover effect if desired */
.student-name:hover {
    background-color: #e2e6ea; /* Slightly darker background on hover */
}